---
import Tools from "../icons/Tools.astro";
import Github from "../icons/Github.astro";
---

<header class="">
  <nav
    class="bg-[#181b20] p-4 text-white flex justify-between items-center h-24"
  >
    <div class="text-lg font-bold flex flex-row gap-5">
      <Tools /> Herramientas
    </div>
    <ul class="flex space-x-4">
      <li><a href="/contact" class="hover:text-gray-400"><Github/></a></li>
    </ul>
  </nav>
</header>
