---
import tools from "../data/typeTools.json";
import Badge from "./Badge.astro";
const buttonsTools = tools;
---

<section class="m-2">
  <div class="flex justify-center mt-2 mb-14">
    <h1 class="text-white text-3xl">
      Herramientas y recursos para el desarrollo
    </h1>
  </div>
  <div
    class="flex max-w-[800px] m-auto justify-center mt-2 mb-4 flex-wrap gap-2"
  >
    {
      buttonsTools.map((typeBtn) => (
        <Badge>
          <a href={typeBtn.href}> {typeBtn.text}</a>
        </Badge>
      ))
    }
  </div>
</section>
